<aside class="bg-white p-6 text-gray-800 flex flex-col gap-6 items-center h-full min-h-screen border-r border-gray-200">
    <h5 class="mb-8 p-6 text-center text-xl font-semibold text-primary border rounded shadow-md hover:shadow-lg transition duration-300 ease-in-out">
      <i class="fas fa-bolt mr-2"></i> OneBlog Admin
    </h5>
  
    <!-- Dashboard Link -->
    <a routerLink="/admin" class="w-full text-lg font-semibold mb-4 flex items-center space-x-3 hover:text-teal-700 text-secondary rounded-full p-4  transition duration-300 ease-in-out">
      <i class="fas fa-chart-simple text-xl"></i>
      <span>Dashboard</span>
    </a>
  
    <!-- Blogs List Link -->
    <a routerLink="/admin/blogs" class="w-full text-lg font-semibold mb-4 flex items-center space-x-3 hover:text-teal-700 text-secondary rounded-full p-4 transition duration-300 ease-in-out">
      <i class="fas fa-file-alt text-xl"></i>
      <span>Blogs List</span>
    </a>
  
    <!-- Users List Link -->
    <a routerLink="/admin/users" class="w-full text-lg font-semibold mb-4 flex items-center space-x-3 hover:text-teal-700 text-secondary rounded-full p-4 transition duration-300 ease-in-out">
      <i class="fas fa-users text-xl"></i>
      <span>Users List</span>
    </a>
  
    <!-- Comments List Link -->
    <a routerLink="/admin/comments" class="w-full text-lg font-semibold mb-4 flex items-center space-x-3 hover:text-teal-700 text-secondary rounded-full p-4 transition duration-300 ease-in-out">
      <i class="fas fa-comments text-xl"></i>
      <span>Comments List</span>
    </a>
  
    <!-- Messages List Link -->
    <a routerLink="/admin/messages" class="w-full text-lg font-semibold mb-4 flex items-center space-x-3 hover:text-teal-700 text-secondary rounded-full p-4 transition duration-300 ease-in-out">
      <i class="fas fa-message text-xl"></i>
      <span>Messages List</span>
    </a>
  </aside>
  