<app-header></app-header>

    <div class="container px-10 py-24">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Left Side - Text Content -->
            <div class="pr-0 md:pr-12">
                <h1 class="text-5xl md:text-7xl font-bold text-secondary leading-tight mb-6">
                    We're changing the way people connect
                </h1>
                <p class="text-lg text-gray-600 mb-8">
                    Cupidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco exercitation tempor. Sint aliqua anim nulla sunt mollit id pariatur in voluptate cillum. Eu voluptate tempor esse minim amet fugiat veniam occaecat aliqua.
                </p>
            </div>
            

            <div class="flex flex-wrap justify-center gap-10">

               <div class="space-y-4 md:mt-40">
                    <div class="w-60 rounded-xl overflow-hidden ">
                        <img src="https://images.pexels.com/photos/5428770/pexels-photo-5428770.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Person working on laptop" class="w-full h-full object-cover">
                    </div>
                
                    <div class="w-60 rounded-xl overflow-hidden">
                        <img src="https://images.pexels.com/photos/10610361/pexels-photo-10610361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="People having conversation" class="w-full h-full object-cover">
                    </div>
               </div>
            
                <div class="space-y-4">
                    <div class="w-60 rounded-xl overflow-hidden">
                        <img src="https://images.pexels.com/photos/6203790/pexels-photo-6203790.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Office workspace" class="w-full h-full object-cover">
                    </div>
                
                    <div class="w-60 rounded-xl overflow-hidden">
                        <img src="https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&w=600" alt="People collaborating" class="w-full h-full object-cover">
                    </div>
                </div>
            
            </div>
            
        </div>
    </div>

<app-footer></app-footer>