<main class="bg-gray-50 min-h-screen p-4 sm:p-6">
    <div class="max-w-7xl mx-auto">
        <app-nav/>
            <h1 class="text-3xl font-semibold mb-6">All Users</h1>
            <div class="bg-white shadow-lg rounded-lg p-4 overflow-x-auto">
                <table class="min-w-full text-gray-700 text-sm md:text-base">
                    <thead class="bg-gray-100">
                        <tr >
                            <th class="px-4 py-2 text-left whitespace-nowrap">#</th>
                            <th class="px-4 py-2 text-left whitespace-nowrap">Post</th>
                            <th class="px-4 py-2 text-left whitespace-nowrap">Username</th>
                            <th class="px-4 py-2 text-left whitespace-nowrap">Comment</th>
                            <th class="px-4 py-2 text-left whitespace-nowrap">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comment of Allcomments;let i=index" class="border-t">
                            <td class="px-4 py-2 whitespace-nowrap">{{i+1}}</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{comment.postTitle}}</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{comment.user.username}}</td>
                            <td class="px-4 py-2 whitespace-nowrap">{{comment.comment}}</td>
                            <td class="px-4 py-2 whitespace-nowrap">
                                <button (click)="deleteComment(comment.postId,comment._id)" class="text-red-500 hover:text-red-700 flex items-center gap-1 px-4 py-2 rounded hover:bg-red-50 transition">
                                    <i class="fas fa-trash-alt"></i> 
                                  </button>
                            </td>
                        </tr>
                        <tr class="border-t">
                            <td class="px-4 py-2 whitespace-nowrap">2</td>
                            <td class="px-4 py-2 whitespace-nowrap">Amy Smith</td>
                            <td class="px-4 py-2 whitespace-nowrap">amyexample.com</td>
                            <td class="px-4 py-2 whitespace-nowrap">User</td>
                            <td class="px-4 py-2 whitespace-nowrap">
                                <button class="text-red-500 hover:text-red-700 flex items-center gap-1 px-4 py-2 rounded hover:bg-red-50 transition">
                                    <i class="fas fa-trash-alt"></i> 
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

