
  <app-header></app-header>
  <div class="min-h-screen flex flex-col justify-center items-center pt-24">
  <section class="flex h-[calc(100vh-450px)] justify-center items-center" >
    <div class="py-10 flex flex-col justify-center items-center">
      <div class="max-w-4xl text-center mx-auto  px-4">
        <h1 class="text-3xl md:text-5xl font-bold text-gray-800 mb-6">
          Step Into the World of Blogging with One Blog
        </h1>
        <p class="text-sm md:text-xl text-gray-600 mb-8">
          Every great journey begins with a single step, and starting a blog is
          your chance to make your mark. At One Blog, we provide the perfect
          platform to share your passions, connect with like-minded readers, and
          create a lasting impact.
        </p>
        <button routerLink="/register" class="bg-primary text-white px-6 py-3 rounded-full ">
          Get Started
        </button>
      </div>
    </div>

  </section>

    <section class="max-w-7xl mx-auto px-4 md:px-8 py-12">
      <div class="text-center mb-10">
        <h2 class="text-3xl font-bold mb-2">Popular Posts</h2>
        <p class="text-gray-600">Ideas, trends, and inspiration for a brighter future</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-8">

        <div class="bg-white overflow-hidden ">
          <div class="aspect-w-16 aspect-h-9">
            <img src="https://images.pexels.com/photos/1816225/pexels-photo-1816225.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Travel" class="w-full h-48 md:h-64 object-cover rounded-lg" />
          </div>
          <div class="p-4">
            <h3 class="font-bold text-lg mb-2">Sustainable Travel Tips: Reducing Your Carbon Footprint</h3>
            <div class="flex items-center mt-4 text-sm text-gray-600">
              <img src="https://w7.pngwing.com/pngs/4/736/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon-thumbnail.png" alt="Cara Wilson" class="w-8 h-8 rounded-full mr-2" />
              <span>Cara Wilson</span>
              <span class="text-xs text-gray-500 ml-auto">Nov 29, 2024</span>
            </div>
          </div>
        </div>


        <div class="md:col-span-2 flex flex-col space-y-6">

          <div class="flex flex-col md:flex-row bg-white  overflow-hidden ">
            <div class="md:w-2/5">
              <img src="https://images.pexels.com/photos/3811074/pexels-photo-3811074.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Sunset" class="w-full h-48 rounded-lg object-cover" />
            </div>
            <div class="md:w-[50%] p-4 flex justify-center flex-col">
              <h3 class="font-bold text-lg mb-2">Chasing Sunsets: The World's Most Scenic Destinations</h3>
              <div class="flex items-center mt-4 text-sm text-gray-600">
                <img src="https://w7.pngwing.com/pngs/4/736/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon-thumbnail.png" alt="Amelia Scott" class="w-8 h-8 rounded-full mr-2" />
                  <span>Amelia Scott</span>
                  <span class="text-xs text-gray-500 ml-auto">Nov 29, 2024</span>
              </div>
            </div>
          </div>


          <div class="flex flex-col md:flex-row bg-white rounded-lg overflow-hidden ">
            <div class="md:w-2/5">
              <img src="https://images.pexels.com/photos/5029853/pexels-photo-5029853.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Village" class="w-full h-48 rounded-lg object-cover" />
            </div>
            <div class="md:w-[50%] p-4 flex justify-center flex-col">
              <h3 class="font-bold text-lg mb-2">Hidden Gems: Europe's Best Kept Secret Destinations</h3>
              <div class="flex items-center mt-4 text-sm text-gray-600">
                <img src="https://w7.pngwing.com/pngs/4/736/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon-thumbnail.png" alt="Oliver Grant" class="w-8 h-8 rounded-full mr-2" />
                <span>Oliver Grant</span>
                <span class="text-xs text-gray-500 ml-auto">Nov 29, 2024</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="max-w-7xl mx-auto px-4 md:px-8 py-12">
      <div class="text-center mb-10">
        <h2 class="text-3xl font-bold mb-2">Trending Posts</h2>
        <p class="text-gray-600">Discover how innovation and creativity drive meaningful change</p>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">

        <div class="bg-white overflow-hidden ">
          <img src="https://images.pexels.com/photos/1604794/pexels-photo-1604794.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Travel" class="w-full rounded-lg h-60 object-cover" />
          <div class="p-4">
            <h3 class="font-bold text-lg mb-2">Ultimate Guide to Solo Travel: Tips and Tricks</h3>
            <div class="flex items-center mt-4">
              <img src="https://w7.pngwing.com/pngs/4/736/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon-thumbnail.png" alt="Emily Foster" class="w-8 h-8 rounded-full mr-2" />
              <span class="text-sm text-gray-600">Emily Foster</span>
              <span class="text-xs text-gray-500 ml-auto">Nov 29, 2024</span>
            </div>
          </div>
        </div>

   
        <div class="bg-white  overflow-hidden ">
          <img src="https://images.pexels.com/photos/1583582/pexels-photo-1583582.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Food" class="w-full rounded-lg h-60 object-cover" />
          <div class="p-4">
            <h3 class="font-bold text-lg mb-2">A Food Lover's Journey: Top Culinary Destinations</h3>
            <div class="flex items-center mt-4">
              <img src="https://w7.pngwing.com/pngs/4/736/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon-thumbnail.png" alt="Liam Taylor" class="w-8 h-8 rounded-full mr-2" />
              <span class="text-sm text-gray-600">Liam Taylor</span>
              <span class="text-xs text-gray-500 ml-auto">Nov 29, 2024</span>
            </div>
          </div>
        </div>

   
        <div class="bg-white  overflow-hidden ">
          <img src="https://images.pexels.com/photos/1919030/pexels-photo-1919030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Nature" class="w-full rounded-lg h-60 object-cover" />
          <div class="p-4">
            <h3 class="font-bold text-lg mb-2">Adventure Awaits: Best National Parks to Visit in 2025</h3>
            <div class="flex items-center mt-4">
              <img src="https://w7.pngwing.com/pngs/4/736/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon-thumbnail.png" alt="Clara Wilson" class="w-8 h-8 rounded-full mr-2" />
              <span class="text-sm text-gray-600">Clara Wilson</span>
              <span class="text-xs text-gray-500 ml-auto">Nov 29, 2024</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center w-full items-center my-10">
        <button routerLink="/all-blogs">View More  <i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
